.content-kt{
    position:relative;
}

.info-photograph-kt{
    z-index:1;
    width: 50vw;
    height: 13em;
    position: fixed;
    left: 0%;
    top: 25%;
    background-color: whitesmoke;
    padding: 1em;
    -webkit-box-shadow: -2px 0px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 13px -1px rgba(0,0,0,0.75);
    box-shadow: -2px 0px 13px -1px rgba(0,0,0,0.75);
}
.phograph-container{
    width: 79vw;
    height: 75vh;
    position: fixed;
    right: 3%;
    top: 15%;
    background-color: whitesmoke;
}
.div-list-img-kt{
    position: absolute;
    height: 100%;
    width: 56%;
    padding: 1em;
    right: 1em;
}
::-webkit-scrollbar {
    display: none;
}

.img-instagram-kt{
    position: absolute;
    width: 10%;
    height: 20%;
    bottom: 16%;
    left: 16%;
}