.content-kt{
    position:relative;
}
.info-other-kt{
    z-index: 1;
    width: 19vw;
    height: 55vh;
    position: fixed;
    left: 12%;
    bottom: 0%;
    background-color: whitesmoke;
    padding: 1em;
    box-shadow: -2px 0px 13px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 0px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 13px -1px rgba(0,0,0,0.75);
}
.other-container{
    width: 90%;
    height: 78vh;
    position: fixed;
    top: 15%;
    background-color: whitesmoke;
    padding: 1em;
}
.carrousel-kt{
    width: 62vw;
    position: absolute;
    right: 0em;
    height: 96%;
}
.p-carousel-item{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}
/* Estilo para el contenedor del reproductor de audio */
.audio-container {
    width: 100px; /* Ancho del reproductor de audio */
    background-color: #f0f0f0; /* Color de fondo */
    padding: 10px; /* Espaciado interior */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}
.p-carousel-content{
    height: 100%;
}
.p-carousel-container{
    height: 93%;
}
.p-carousel-items-content{
    height: 84% !important;
}
.p-carousel-indicators{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
